RewriteEngine On
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} ^inutilidades\.cf [OR]
RewriteCond %{HTTP_HOST} ^www\.inutilidades\.cf
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.inutilidades.cf/$1 [R,L]

