RewriteEngine On
RewriteCond %{HTTP_HOST} ^inutilidades\.cf [OR]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.inutilidades.cf/$1 [R,L]

Redirect http://www.inutilidades.cf/ https://www.inutilidades.cf/

